@import "tailwindcss";

:root {
  --background: #f8fafc;
  --foreground: #0f172a;

  --primary: #1e3a8a;
  --secondary: #f59e0b;

  --card: #ffffff;
  --border: #e2e8f0;
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  background: var(--background);
  color: var(--foreground);
  font-family: sans-serif;
}

body {
  min-height: 100vh;
}

a {
  color: inherit;
  text-decoration: none;
}